.tableRow{
  cursor: pointer;
}

.tableRow:hover{ 
    background-color: #abe0e9b9;
    opacity: 8;
}

.tableRowGray{ 
    cursor: pointer;
    background-color: #f4f5f7;
}

.tableRowGray:hover{ 
    background-color: #abe0e9b9;
    opacity: 8;
}

.tableCell{
    padding: 2px 6px 2px 6px;
}

.tableTitleCell{
    font-weight: bold;
    font-size:1.2em;
    padding: 2px 6px 2px 6px;
}