.table{
    width: 100%;
}

.tableRow{
    height: 40px;
}

.tableRow:hover{
    background-color: #abe0e9b9;
    opacity: 8;
}

.tableCell{
    padding: 2px 6px 2px 6px;
    font-size:.95em;
}
  
.tableTitleCell{
    font-weight: bold;
    font-size:1.2em;
    padding: 2px 6px 2px 6px;
}