.styleModalOverlay {  
    width: 70%;
    height: 70%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.styleModal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 40px ;
    background-color: rgba(0, 0, 0, 0.4);
}

.styleModalContent{
    background:white;
    width: fit-content;
    height: fit-content;
    max-width: 80%;
    border-radius: 4px;
    padding:12px
}

.styleHeader{
    display:flex;
    justify-content: space-between;
    border-bottom: 1px solid #e9e9e9;
    padding-top: 10px;
    padding-bottom: 10px;
}

.styleBody{
    word-break: break-all;
    padding-top: 10px;
    padding-bottom: 10px;
}

.styleBottom{
    min-height: 15px;
    border-top: 1px solid #e9e9e9;
}

.styleClose{
    cursor: pointer;
}

.mainLayoutDiv{}








/* 
const styleModalOverlay = `     
    width: 70%;
    height: 70%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
`

const styleModal = `
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 40px ;
    background-color: rgba(0, 0, 0, 0.4);
`

const styleModalContent = `
    background:white;
    width: fit-content;
    height: fit-content;
    max-width: 80%;
    border-radius: 4px;
    padding:12px
`

const styleHeader = `
    display:flex;
    justify-content: space-between;
    border-bottom: 1px solid #e9e9e9;
    padding-top: 10px;
    padding-bottom: 10px;
`

const styleBody = `
    word-break: break-all;
    padding-top: 10px;
    padding-bottom: 10px;
`

const styleBottom = `
    min-height: 15px;
    border-top: 1px solid #e9e9e9;
`

const styleClose = `
    cursor: pointer;
` */